################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JTableExampleNETFramework/.vs/JTableExampleNETFramework/v15/Server/sqlite3/db.lock
